{% extends 'base-admin.html' %}

{% block title %}站点列表{% endblock %}

{% block content %}
    <h2>所有站点</h2>
{#    <p><a class="btn" href="{% url 'admin-create-site' patient.id %}"><i class="icon-plus"></i></a></p>#}
<table class="table table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>名称</th>
    <th>域名</th>
    <th>等级</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>
    {% for site in object_list %}
    <tr>
        <td>{{ site.id }}</td>
        <td>
            <a href="{% url 'admin-update' 'website' site.id %}">{{ site.name }}</a>
        </td>
        <td><a href="{{ site.link }}">{{ site.domain }}</a></td>
        <td>{{ site.get_level }}</td>
        <td>
        <a href="{% url 'admin-update' 'website' site.id %}" class="btn btn-mini"><i class="icon-edit"></i>详细</a>
        {% if site.id != 1 %}
        <a href="{% url 'set-site-region' site.id %}" class="btn btn-mini"><i class="icon-edit"></i>地区</a>
        <a href="{% url 'admin-delete' 'website' site.id %}" class="btn btn-mini btn-danger"><i class="icon-remove"></i>删除</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

