{% extends 'base-admin.html' %}

{% block title %}管理用户{% endblock %}

{% block content %}

    <h2>管理用户</h2>
<a href="{% url 'admin-create-user' %}">添加用户</a>
<br/>
<table class="table border">
<thead>
<tr>
    <th>用户名</th>
    <th>email</th>
    <th>姓名</th>
    <th>身份</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.get_identity }}</td>
        <td>
        <a class="button small" href="{% url 'admin-update-user' user.id %}">修改</a>
        <a class="button red small" href="{% url 'admin-delete-user' user.id %}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

