{% extends 'base-index.html' %}

{% block title %}
登录
{% endblock %}

{% block head %}
    <style>
    input[type="password"] {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 1px #ccc inset;
        font-size: 14px;
        line-height: 20px;
        outline: medium none;
        padding: 4px 9px;
        margin: 1px;
    }
    .helptext {
        font-style: italic;
    }
    .errorlist {
        list-style: none;
        color: #b61318;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <small><a href="{% url 'password-reset' %}">忘记密码？</a></small>
    <br/>
    <a class="button" href="{% url 'register' %}">注册</a>
    <input class="button green" type="submit" value="登录"/>
    </form>

{% endblock %}