{% extends 'base-index.html' %}

{% block title %}
注册用户
{% endblock %}

{% block head %}
    <style>
    .helptext {
        font-style: italic;
    }
    .errorlist {
        list-style: none;
        color: #b61318;
        font-weight: bold;
    }
    #id_identity {
        width: 188px;
        font-size: 16px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="hero-unit">
    <form action="" method="post">{% csrf_token %}

    {{ form.as_p }}
    <div class="clear"></div>
     <a class="btn" href="{% url 'login' %}">去登录</a>
     <input class="btn btn-primary" type="submit" value="注册"/>


    </form>
    </div>

{% endblock %}