{% extends 'base-index.html' %}

{% block title %}
注册用户
{% endblock %}

{% block head %}
    <style>
    input[type="password"] {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 1px #ccc inset;
        font-size: 14px;
        line-height: 20px;
        outline: medium none;
        padding: 4px 9px;
        margin: 1px;
    }
    .helptext {
        font-style: italic;
    }
    </style>
{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="button green" type="submit" value="注册"/>
    <a class="button" href="{% url 'login' %}">去登录</a>
    </form>

{% endblock %}