{% extends 'base-index.html' %}

{% block title %}{{ object_user.get_identity }}{{ object_user.username }}的个人页面{% endblock %}

{% block content %}

    <h3>{{ object_user.get_identity }}{{ object_user.username }}的个人页面</h3>
    <table class="table table-bordered">

        {% include 'includes/user-info-as-table.html' %}

        {% if object_user.is_patient %}
            {% include 'includes/patient-info-as-table.html' %}
        {% endif %}
        {% if object_user.is_doctor %}
            {% include 'includes/doctor-info-as-table.html' %}
        {% endif %}
    </table>

{% endblock %}