{% extends 'base-admin.html' %}

{% block title %}
删除操作
{% endblock %}

{% block content %}

<div class="span7 well">

<h2>删除操作</h2>
<div class="alert">
    <p><strong>注意！</strong></p>
    <b>你确定要删除 <a href="" class="button bigrounded green">{{ object.username }}</a>吗?</b>

</div>

<form action="" method="post">{% csrf_token %}
    <div>
        <input type="hidden" name="post" value="yes" />
            <br/>
        <a href="#" onclick="location.href=document.referrer;" class="btn btn-primary">不,我返回</a>&nbsp;
        <input type="submit" value="是的,我确定." class="btn btn-danger"/>
    </div>
</form>
</div>

{% endblock %}
