{% extends 'base-index.html' %}

{% block title %}
    {{ object_news.title }}
{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">首页</a> <span class="divider">/</li>
  <li><a href="#">新闻</a> <span class="divider">/</li>
  <li class="active">{{ object_news.sort }}</li>
</ul>

<div class="row-fluid">
    <div class="span8" id="news">
        <div style="text-align: center">
            <h2 >{{ object_news.title }}</h2>
            <p><i class="icon-user"></i>&nbsp;<a href="{{ object_news.author.get_show_url }}">{{ object_news.author }}</a>
                <i class="icon-tag"></i>&nbsp;<span class="badge badge-info">{{ object_news.sort }}</span>
                <i class="icon-calendar"></i>&nbsp;{{ object_news.published_date |date:"Y年m月d日" }}</p>
        </div>
        <div id="news-content">
            {{ object_news.content|safe }}
        </div>
        <hr/>
        {% include 'includes/duoshuo.html' %}
    </div><!--#news-->

    <div class="span3  offset1">
        <div class="well sidebar-nav">
            <h5 class="offset1"><i class="icon-tags"></i>相关链接</h5>
            <hr/>
            <ul class="nav nav-list">
                <li class="nav-header">信息分类</li>
                {% for sort in sort_list %}
                <li><a href="#"><i class="icon-tag"></i>{{ sort.name }}</a></li>
                {% endfor %}
                <hr/>
                <li class="nav-header">最新信息</li>
                {% for news in news_list %}
                    <li><a href="#"><i class="icon-fire"></i>{{ news.title }}</a></li>
                {% endfor %}
            </ul>
{#            <hr/>#}
{#            <div class="well" style="background-color: #ffffff">#}
{#                <p>广告块</p>#}
{#            </div>#}
        </div><!--/.well -->
    </div><!--.span3-->
</div>


{% endblock %}
