*.log
*.pot
*.pyc
log/*

local_settings.py
migrations

pahchina.xml

.idea/*
pahchina/media/*
pahchina/db/*

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
local_settings.py
*~

re_db.sh
env1
env
fields.md
