*.log
*.pot
*.pyc
local_settings.py

.idea/*
pahchina/media/*
pahchina/db/*

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
local_settings.py
*~

re_db.sh
env1
fields.md
