              <ul class="nav">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">新闻动态</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">医药动态</a></li>
                        <li><a href="#">媒体报道</a></li>
                        <li><a href="#">病友活动</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">生活PAH</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="患病经历，生活中的故事">病友故事</a></li>
                        <li><a href="#">爱心感言</a></li>
                        <li><a href="#">人生杂谈</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index' %}">认识PAH</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="">疾病介绍</a></li>
                        <li><a href="#">医学研究</a></li>
                        <li><a href="#">社会学研究</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index' %}">视频</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="">宣传片</a></li>
                        <li><a href="#">电视节目</a></li>
                        <li><a href="#">活动录像</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index' %}">图片</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="">活动专辑</a></li>
                        <li><a href="#">志愿明星</a></li>
                        <li><a href="#">企业展示</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index' %}">下载</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="">资助申请</a></li>
                        <li><a href="#">实用文档</a></li>
                        <li><a href="#">其他</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index' %}">关于我们</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="">简介</a></li>
                        <li><a href="#">章程</a></li>
                        <li><a href="#">组织结构</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                </li>
                <li><a href="http://pahchina.org/">社区</a></li>
{#                <li><a href="{% url 'create-donate' %}">捐赠</a></li>#}
              </ul>
{#    {% if user.is_staff %}#}
{#        <li><a href="{% url 'admin-index' %}">后台</a></li>#}
{#    {% endif %}#}
{#    {% if user.is_authenticated %}#}
{#        <li><a href="{{ user.get_profile_url }}">个人中心</a></li>#}
{#        <li><a href="{% url 'logout' %}">注销</a></li>#}
{#    {% else %}#}
{#        <li><a href="{% url 'login' %}">登录</a></li>#}
{#        <li><a href="{% url 'register' %}">注册</a></li>#}
{#    {% endif %}#}
{#    <li><a href="#">{{ user.get_identity|default:'Contact' }}</a></li>#}
{#  </ul>#}