<tr>
    <th>曾用名</th>
    <td>{{ personal.previous_name }}</td>
</tr>
<tr>
    <th>昵称</th>
    <td>{{ personal.nickname }}</td>
</tr>
<tr>
    <th>性别</th>
    <td>{{ personal.sex }}</td>
</tr>
<tr>
    <th>身份证号</th>
    <td>{{ personal.ID_number }}</td>
</tr>
<tr>
    <th>年龄</th>
    <td>{{ personal.age }}</td>
</tr>
<tr>
    <th>生日</th>
    <td>{{ personal.birthday }}</td>
</tr>
<tr>
    <th>民族</th>
    <td>{{ personal.nationality }}</td>
</tr>
<tr>
    <th>信仰</th>
    <td>{{ personal.belief }}</td>
</tr>
<tr>
    <th>身高</th>
    <td>{{ personal.height }}</td>
</tr>
<tr>
    <th>体重</th>
    <td>{{ personal.weight }}</td>
</tr>

<tr>
    <th>婚姻状态</th>
    <td>{{ personal.marital_status }}</td>
</tr>
<tr>
    <th>是否生育</th>
    <td>{{ personal.bear_status }}</td>
</tr>
<tr>
    <th>家庭电话</th>
    <td>{{ personal.home_phone }}</td>
</tr>
<tr>
    <th>户籍所在地</th>
    <td>{{ personal.domicile }}</td>
</tr>
<tr>
    <th>常住地</th>
    <td>{{ personal.permanent_residence }}</td>
</tr>
<tr>
    <th>通信地址</th>
    <td>{{ personal.address }}</td>
</tr>
<tr>
    <th>最高学历</th>
    <td>{{ personal.education }}</td>
</tr>
<tr>
    <th>毕业学校</th>
    <td>{{ personal.school }}</td>
</tr>
<tr>
    <th>专业</th>
    <td>{{ personal.major }}</td>
</tr>
<tr>
    <th>职业资格证</th>
    <td>{{ personal.qualification }}</td>
</tr>
<tr>
    <th>特长爱好</th>
    <td>{{ personal.specialty }}</td>
</tr>
<tr>
    <th>个人简介</th>
    <td>{{ personal.personal_profile }}</td>
</tr>
<tr>
    <th>患者故事</th>
    <td>{{ personal.story }}</td>
</tr>