        <tr>
            <th>ID</th>
            <td>{{ site.id }}</td>
        </tr>
        <tr>
            <th>网站等级</th>
            <td>{{ site.get_level }}</td>
        </tr>
        <tr>
            <th>网站名称</th>
            <td>{{ site.name }}</td>
        </tr>
        <tr>
            <th>域名</th>
            <td>{{ site.domain }}</td>
        </tr>
        {% if user.is_superuser %}
        <tr>
            <th>站点管理员</th>
            <td><a href="{% url 'admin-detail-user' site.admin.id %}">{{ site.admin.username }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <th>网站logo</th>
            <td><img src="{{ site.logo.url }}" alt=""/></td>
        </tr>
        <tr>
            <th>网站图片</th>
            <td><img src="{{ site.get_cut_url }}" alt=""/></td>
        </tr>
        <tr>
            <th>网站简介</th>
            <td>{{ site.description|safe }}</td>
        </tr>
        <tr>
            <th>网站公告</th>
            <td>{{ site.notice|safe }}</td>
        </tr>
        <tr>
            <th>联系人</th>
            <td>{{ site.get_contact }}</td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>{{ site.get_telephone }}</td>
        </tr>
        <tr>
            <th>联系QQ</th>
            <td>{{ site.qq }}</td>
        </tr>
        <tr>
            <th>联系地址</th>
            <td>{{ site.address }}</td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td>{{ site.created_date }}</td>
        </tr>
        <tr>
            <th>修改时间</th>
            <td>{{ site.updated_date }}</td>
        </tr>
