<tr>
    <th>工作状态</th>
    <td>{{ object.status }}</td>
</tr>
<tr>
    <th>职业</th>
    <td>{{ object.occupation }}</td>
</tr>
<tr>
    <th>单位性质</th>
    <td>{{ object.nature }}</td>
</tr>
<tr>
    <th>年收入</th>
    <td>{{ object.annual_income }}</td>
</tr>
<tr>
    <th>单位名称</th>
    <td>{{ object.name }}</td>
</tr>
<tr>
    <th>所在部门</th>
    <td>{{ object.department }}</td>
</tr>
<tr>
    <th>职称</th>
    <td>{{ object.post }}</td>
</tr>
<tr>
    <th>所在省份</th>
    <td>{{ object.title }}</td>
</tr>
<tr>
    <th>所在城市</th>
    <td>{{ object.city }}</td>
</tr>
<tr>
    <th>地址</th>
    <td>{{ object.address }}</td>
</tr>
<tr>
    <th>电话</th>
    <td>{{ object.phone }}</td>
</tr>
<tr>
    <th>传真</th>
    <td>{{ object.fax }}</td>
</tr>
<tr>
    <th>网站</th>
    <td>{{ object.web_site }}</td>
</tr>
<tr>
    <th>机构简介</th>
    <td>{{ object.introduce }}</td>
</tr>