<tr>
    <th>工作状态</th>
    <td>{{ status }}</td>
</tr>
<tr>
    <th>职业</th>
    <td>{{ occupation }}</td>
</tr>
<tr>
    <th>单位性质</th>
    <td>{{ nature }}</td>
</tr>
<tr>
    <th>年收入</th>
    <td>{{ annual_income }}</td>
</tr>
<tr>
    <th>单位名称</th>
    <td>{{ name }}</td>
</tr>
<tr>
    <th>所在部门</th>
    <td>{{ department }}</td>
</tr>
<tr>
    <th>职称</th>
    <td>{{ post }}</td>
</tr>
<tr>
    <th>所在省份</th>
    <td>{{ title }}</td>
</tr>
<tr>
    <th>所在城市</th>
    <td>{{ city }}</td>
</tr>
<tr>
    <th>地址</th>
    <td>{{ address }}</td>
</tr>
<tr>
    <th>电话</th>
    <td>{{ phone }}</td>
</tr>
<tr>
    <th>传真</th>
    <td>{{ fax }}</td>
</tr>
<tr>
    <th>网站</th>
    <td>{{ web_site }}</td>
</tr>
<tr>
    <th>机构简介</th>
    <td>{{ introduce }}</td>
</tr>