{% extends 'index-with-menu.html' %}

{% block title %}捐赠 {{ object_donate.number }}{% endblock %}
{% block h3title %}捐赠 {{ object_donate.number }}{% endblock %}

{% block side-content %}

<form action="" method="post">{% csrf_token %}

<table class="table border">
    {{ form.as_table }}
</table>
    <p><input class="btn btn-block btn-primary" type="submit" value="提交"/></p>
    <p>
        <a class="btn btn-info" href="{% url 'list-donate' %}">我的捐赠</a>
        <a class="btn" onclick="location.href=document.referrer;">返回</a>
    </p>
</form>


{% endblock %}