{% extends 'base-admin.html' %}

{% block title %}捐赠管理{% endblock %}

{% block content %}

    <h2>捐赠使用管理</h2>

<table class="table border">
<thead>
<tr>
    <th>捐赠单号</th>
    <th>此次使用</th>
    <th>使用时间</th>
    <th>余额</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>
    {% for itemized in itemized_list %}
    <tr>
        <td><a href="{% url 'admin-detail-itemized' itemized.id %}">{{ itemized.number }}</a></td>
        <td>{{ itemized.cast }}</td>
        <td>{{ itemized.create_time }}</td>
        <td>{{ itemized.residue }}</td>
        <td>
        <a href="{% url 'admin-update-itemized' itemized.id %}"><i class="icon-edit"></i></a>
        <a href="{% url 'admin-delete-itemized' itemized.id %}"><i class="icon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}