{% extends 'index-with-menu.html' %}

{% block title %}我的捐赠{% endblock %}
{% block h3title %}我的捐赠{% endblock %}

{% block side-content %}

    <h2>我的捐赠</h2>
<table class="table border">
<thead>
<tr>
    <th>捐赠单号</th>
    <th>捐赠金额</th>
    <th>捐赠时间</th>
    <th>是否匿名</th>
</tr>
</thead>
    <tbody>
    {% for donate in donate_list %}
    <tr>
        <td><a href="{% url 'detail-donate' donate.id %}">{{ donate.number }}</a></td>
        <td>{{ donate.money }}</td>
        <td>{{ donate.create_time }}</td>
        <td>{{ donate.get_anyone }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}