{% extends 'base-admin.html' %}

 {% load pagination_tags %}

{% block title %}省市列表{% endblock %}

{% block content %}
    <h2>省市列表</h2>
    <a href="{% url 'admin-create' 'region' %}" class="btn"><i class="icon-plus"></i>添加地区</a>
<table class="table table-hover">
<thead>
<tr>
    <th>名称</th>
    <th>所属上级</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>

    {% autopaginate object_list 20 %}

    {% for region in object_list %}
        <tr>
            <td>{{ region.name }}</td>
            <td>{{ region.parent.name }}</td>
            <td>
                <a href="{% url 'admin-update' 'region' region.id %}"><i class="icon-edit"></i></a>
                <a href="{% url 'admin-delete' 'region' region.id %}"><i class="icon-remove"></i></a>
            </td>
        </tr>    
    {% endfor %}
    </tbody>
</table>

    {% paginate %}

{% endblock %}
