{% extends 'base-index.html' %}

{% block title %}医生列表{% endblock %}

{% block content %}
    <h2>医生列表</h2>
<table class="table table-hover">
<thead>
<tr>
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>职称</th>
    <th>TA的病人</th>
</tr>
</thead>
    <tbody>

    {% for doctor in doctor_list %}
        <tr>
            <td><a href="{% url 'show' doctor.user.id %}">{{ doctor.user.username }}</a></td>
            <td>{{ doctor.get_sex }}</td>
            <td>{{ doctor.age }}</td>
            <td>{{ doctor.job_title }}</td>
            <td><a href="{% url 'hospital-list-doctor-patient' doctor.id %}" class="btn">
                <i class="icon-info-sign"></i></a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
