{% extends 'base-admin.html' %}

{% block title %}
活动详情 {{ object_activity.name }}
{% endblock %}

{% block content %}

<h2>活动-{{ object_activity.name }}</h2>
    <h6>活动时间：{{ object_activity.activity_time }}&nbsp; 浏览次数：{{ object_activity.pageview }}</h6>
    <div>{{ object_activity.describe }}</div>
{#<!--#}
{#<table class="table bordered" border="0">#}
{#    <tr>#}
{#        <th>用户名</th>#}
{#        <td>{{ object_user.username }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>姓名</th>#}
{#        <td>{{ object_user.first_name}}{{object_user.last_name }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Email</th>#}
{#        <td>{{ object_user.email }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>身份</th>#}
{#        <td>#}
{#            {% if object_user.is_parent %}患者、{% endif %}#}
{#            {% if object_user.is_doctor %}医生、{% endif %}#}
{#            {% if object_user.is_hospital %}医院、{% endif %}#}
{#            {% if object_user.is_donor %}捐献者、{% endif %}#}
{#            {% if object_user.is_volunteer %}志愿者、{% endif %}#}
{#            {% if object_user.is_druggist %}药商、{% endif %}#}
{#            {% if object_user.is_staff %}分站管理员、{% endif %}#}
{#            {% if object_user.is_superuser %}总站管理员、{% endif %}#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>上次登录</th>#}
{#        <td>{{ object_user.last_login | date:"Y年m月d日h点" }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>加入日期</th>#}
{#        <td>{{ object_user.date_joined | date:"Y年m月d日h点" }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>操作</th>#}
{#        <td>#}
{#        <a class="button" href="{% url 'update-user' object_user.id %}">修改</a>#}
{#        <a class="button red" href="{% url 'delete-user' object_user.id %}">删除</a>#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
{#-->#}
{% endblock %}
