{% extends 'base-admin.html' %}

{% block title %}活动通知{% endblock %}

{% block content %}

    <h2>活动列表</h2>
<a href="{% url 'create-actiyity' %}">添加活动</a>
<br/>
<table class="table border">
<thead>
<tr>
    <th>活动名称</th>
    <th>活动时间</th>
    <th>活动地点</th>
</tr>
</thead>
    <tbody>
    {% for activity in activity_list %}
    <tr>
        <td><a href="{% url 'update-actiyity' activity.id %}">{{ activity.name }}</a></td>
        <td>{{ activity.activity_time|date:'y-m-d-h' }}</td>
        <td>{{ activity.place }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}