{% extends 'base-index.html' %}

{% block title %}
用药记录
{% endblock %}

{% block content %}

    <div>
        {% for dosage in dosage_list %}
            <div class="well well-small">
                <p><span class="badge badge-inverse">{{ dosage.datetime|date:'Y年m月d日' }}</span></p>
                <p><span class="label label-info"><i class="icon-plus-sign"></i>&nbsp;{{ dosage.drug }}</span>
                    服药剂量：{{ dosage.dose }}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}