{% extends 'base-admin.html' %}

{% block title %}
患者详情页面
{% endblock %}

{% block content %}
    <h2>患者详情页面</h2>
    <p><a href="{% url 'admin-list-patient' %}" class="btn"><i class="icon-arrow-left"></i></a></p>
    <div class="form-actions">
        <a href="{% url 'admin-update-user' patient.user.id %}" class="btn">修改用户信息</a>
        <a href="{% url 'admin-update-patient' patient.id %}" class="btn">修改患者信息</a>
        <a href="{% url 'admin-detail-patient-dosage' patient.id %}" class="btn">患者用药记录</a>
        <a href="{% url 'admin-create-dosage' patient.id %}" class="btn">创建患者用药记录</a>
        <a href="{% url 'admin-list-record' patient.id %}" class="btn">患者病历记录</a>
        <a href="{% url 'create-record' patient.id %}" class="btn">创建患者病历</a>
        <a href="{% url 'list-doctor-record' patient.id %}" class="btn">患者就医记录</a>
        <a href="{% url 'admin-start-doctor-record' patient.id %}" class="btn">创建患者就医记录</a>
    </div>

    <table class="table table-bordered">
        {% with patient.user as object_user %}
        {% include 'includes/user-info-as-table.html' %}
        {% endwith %}
    </table>
    <p>

    </p>
    <table class="table table-bordered">
        {% include 'includes/patient-info-as-table.html' %}
    </table>

{% endblock %}