{% extends 'base-admin.html' %}

{% block title %}管理患者{% endblock %}

{% block content %}
    <h2>管理患者</h2>
<table class="table border">
<thead>
<tr>
    <th>用户名</th>
    <th>姓名</th>
    <th>性别</th>
    <th>居住地</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>
    {% for patient in patient_list %}
    <tr>
        <td><a href="{{ patient.get_url }}">{{ patient.user.username }}</a></td>
        <td>{{ patient.user.get_full_name }}</td>
        <td>{{ patient.get_sex }}</td>
        <td>{{ patient.local }}</td>
        <td>
        <a class="button small" href="{% url 'update-patient' patient.id %}">修改</a>
        <a class="button red small" href="{% url 'delete-user' patient.user.id %}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

