{% extends 'base-admin.html' %}

{% block title %}管理志愿者{% endblock %}

{% block content %}

    <h2>管理志愿者</h2>

<table class="table border">
<thead>
<tr>
    <th>姓名</th>
    <th>性别</th>
    <th>活跃度</th>
    <th>联系电话</th>
    <th>活动操作</th>
</tr>
</thead>
    <tbody>
    {% for volunteer in volunteer_list %}
    <tr>
        <td><a href="{% url 'admin-detail-volunteer' volunteer.id %}">{{ volunteer.user.username }}</a></td>
        <td>{{ volunteer.get_sex }}</td>
        <td>{{ volunteer.liveness }}</td>
        <td>{{ volunteer.phone }}</td>
        <td>
        <a class="button small" href="{% url 'admin-update-volunteer' volunteer.id %}">修改</a>
        <a class="button red small" href="{% url 'admin-delete-volunteer' volunteer.id %}">删除</a>
        <a class="button green small" href="{% url 'show-volunteer' volunteer.id %}">预览</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}