{% extends 'base-index.html' %}

{% block title %}
    密码重置
{% endblock %}

{% block head %}
    <style>
        .helptext {
            font-style: italic;
        }

        .errorlist {
            list-style: none;
            color: #b61318;
            font-weight: bold;
        }

        .login-center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-center">
        <div class="span5" style="float: none; margin: 100px auto;">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <br/>
                <input class="btn btn-primary" type="submit" value="发送验证邮件"/>
                <a class="btn" href="{% url 'login' %}">返回登录</a>
            </form>
        </div>
    </div>

{% endblock %}