{% extends 'base-index.html' %}

{% block title %}验证邮件发送成功！{% endblock %}

{% block head %}
    <style>
    .helptext {
        font-style: italic;
    }
    .errorlist {
        list-style: none;
        color: #b61318;
        font-weight: bold;
    }
    .login-center {
        margin-left: auto;
        margin-right: auto;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="hero-unit">


    <h3>验证邮件发送成功！</h3>

    <p class="lead">我们已经将密码重置方式发送到了您的注册邮箱，很快您就会收到！</p>
    <small>如果长时间没有收到的话，请检查是否在您邮箱的垃圾邮件中, 谢谢您的支持！</small>
    <br/><br/>
    <p><a href="{% url 'index' %}" class="btn btn-info btn-large">先逛逛</a></p>
    </div>

{% endblock %}