{% extends 'base-index.html' %}

{% block title %}请设置新密码{% endblock %}

{% block head %}
    <style>
    input[type="password"] {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 1px #ccc inset;
        font-size: 14px;
        line-height: 20px;
        outline: medium none;
        padding: 4px 9px;
        margin: 1px;
    }
    .helptext {
        font-style: italic;
    }
    .errorlist {
        list-style: none;
        color: #b61318;
        font-weight: bold;
    }
    .login-center {
        text-align: center;
    }
    </style>
{% endblock %}

{% block content %}
{% if validlink %}
    <div class="hero-unit">
        <h3>请设置新密码</h3>
        <p>请重复输入您的新密码, 从而确保密码设置正确！</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                {{ form.as_p }}
                <input type="submit" value="修改密码" class="btn btn-primary" />
                <a href="{% url 'login' %}" class="btn">去登录</a>
        </form>
    {% else %}
        <h1>密码重置失败！</h1>
        <p>密码充值链接失效, <br />
        有可能是该链接被已经使用过了. <br />
        请重新请求重置密码.</p>
    {% endif %}
    </div>
{% endblock %}