{% extends 'base-index.html' %}

{% block title %}密码修改成功！{% endblock %}

{% block head %}
    <style>
    .helptext {
        font-style: italic;
    }
    .errorlist {
        list-style: none;
        color: #b61318;
        font-weight: bold;
    }
    .login-center {
        margin-left: auto;
        margin-right: auto;
    }
    </style>
{% endblock %}

{% block content %}
<h1>新密码已生效</h1>
<p> 您的新密码已生效，现在去登录吗？</p>
<p><a href="{% url 'login' %}" class="button green">去登录</a></p>

{% endblock %}