{% extends 'base-admin.html' %}

{% block title %}药物列表{% endblock %}

{% block content %}
    <h2>药物列表</h2>
    <p><a class="btn" href="{% url 'admin-create' 'drug' %}"><i class="icon-plus"></i></a></p>
<table class="table table-hover">
<thead>
<tr>
    <th>名称</th>
    <th>描述</th>
    <th>价格</th>
    <th>操作</th>
</tr>
</thead>
    <tbody>
    {% for drug in object_list %}
    <tr>
        <td><a href="">{{ drug.name }}</a></td>
        <td>{{ drug.description }}</td>
        <td><span class="badge badge-important">{{ drug.price }}元</span></td>
        <td>
{#        <a href="{% url 'admin-update-drug' drug.id %}"><i class="icon-edit"></i></a>#}
        <a href="{% url 'admin-update' 'drug' drug.id %}"><i class="icon-edit"></i></a>
        <a href="{% url 'admin-delete-drug' drug.id %}"><i class="icon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

