<table class="table bordered" border="0">
    <tr>
        <th>单号</th>
        <td><strong><code>{{ object_donate.number }}</code></strong></td>
    </tr>
    <tr>
        <th>捐赠时间</th>
        <td>{{ object_donate.create_time|date:"Y年m月d日 H:i:s" }}</td>
    </tr>
    <tr>
        <th>捐赠金额</th>
        <td><span class="label label-info">{{ object_donate.money }}</span>&nbsp;元(&#65509;)</td>
    </tr>
    <tr>
        <th>用户选择方式</th>
        <td>{{ object_donate.get_anyone }}</td>
    </tr>
    <tr>
        <th>捐赠详情</th>
        <td>{{ object_donate.details }}</td>
    </tr>
    <tr>
        <th>状态</th>
        <td><span class="label label-info">{{ object_donate.get_status }}</span></td>
    </tr>
    {% if user.is_staff %}
    <tr>
        <th>捐赠帐号</th>
        {% if object_donate.user.id %}
            <td>
                <a href="{% url "admin-detail" "user" object_donate.user.id %}">{{ object_donate.user.username }}</a>
            </td>
        {% else %}
            <td>{{ object_donate.user.username }}</td>
        {% endif %}
    </tr>
    {% endif %}
</table>