<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css//ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/static/css/self.css"/>
    {% block head %}
    {% endblock %}

  </head>
  <body>
    <div class="container">
        <div class="logo">
{#            <a href=""><img src="/static/img/logo.png" alt=""/></a>#}
            <h2>PAH-中国肺动脉高压联盟</h2>
        </div>
        <div class="navbar">
            <ul class="nav-ul">
                <li><a href="">首页</a></li>
                <li><a href="">首页</a></li>
                <li><a href="">首页</a></li>
            </ul>
        </div>
        <div class="span-7 first">
            <ul>
                <li><a href="{% url 'list-user' %}">管理用户</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="span-17 last">
            {% block content %}
            {% endblock %}
        </div>

    </div><!-- .container -->

  {% block foot %}
  {% endblock %}
  </body>
</html>
