<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{% block title %}{% endblock %}-PAH后台管理</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}"/>
<meta name="description" content="{% block description %}{% endblock %}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="/static/css/cutter.css">
<script src="/static/js/jquery-1.3.2.min.js"></script>
<script src="/static/js/cutter.js"></script>
{% block head %}

{% endblock %}
</head>

<body>

<div class="topbar">
	<div class="wrapper">
    	<div class="logo">
        	<a href="{% url 'admin-index' %}">网站后台</a>
        </div>
    	<div class="module">
        	<a href="/">网站首页</a>
        </div>
        <div class="sub">
            <a href="">{{ user.username }}</a>
            <a href="{% url 'logout' %}">注销</a>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="two">
        <ul class="sidebar">
            <li class="selected"><a>用户管理</a></li>
            <li><a href="{% url 'list-user' %}">管理用户</a></li>
            <li><a href="{% url 'list-patient' %}">管理患者</a></li>
            <li><a href="{% url 'list-volunteer' %}">志愿者管理</a></li>
             <li class="selected"><a>活动管理</a></li>
            <li><a href="{% url 'list-activity' %}">活动管理</a></li>
            <li><a href="">菜单</a></li>
        </ul>
    </div>
    <div class="ten">
    {% block content %}

    {% endblock %}
    </div>

</div>

<div class="wrapper footer">
    <p>this is footer <a href="">Links</a></p>
</div>


</body>
</html>

