<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{% block title %}{% endblock %}-PAH中国肺动脉高压联盟</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}"/>
<meta name="description" content="{% block description %}{% endblock %}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="{{ STATIC_URL }}css/cutter.css">
<script src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
<script src="{{ STATIC_URL }}js/cutter.js"></script>
    <style>
        .top-logo {
            margin-left: 10%;
        }
        .self-menu {
            margin-left: 7%;
            font-weight: bold;
        }
        .container {
            margin-left: auto;
            margin-right: auto;
            width: 980px;
            word-break: break-all;
            word-wrap:break-word;
        }
    </style>
{% block head %}

{% endblock %}
</head>

<body>

<div class="wrapper">
    <div class="top-logo">
    <h1>PAH中国肺动脉高压联盟</h1>
    </div>
</div>

<div class="topbar">
	<div class="wrapper">
    	<div class="module self-menu">
        	<a href="{% url 'index' %}">网站首页</a>
        	<a href="{% url 'admin-index' %}">网站后台</a>
        	<a href="{% url 'about' %}">关于我们</a>
        </div>
        <div class="sub">
            {% if user.is_authenticated %}
                <a href="{{ user.get_profile_url }}"><b>{{ user.username }}</b></a>
                <a href="{% url 'logout' %}">注销</a>
            {% endif %} 
        </div>
    </div>
</div>

<div class="container">


    {% block content %}

    {% endblock %}

<div class="wrapper footer">
    <p>this is footer <a href="">Links</a></p>
</div>


</div> <!--.container-->
