<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &middot; {{ SITE.name }}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="{{ STATIC_URL }}js/html5shiv.js"></script><![endif]-->
  {% block head %}
  
  {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <div>
            <a href="/"><img src="{{ SITE.logo.url }}" class="pull-left" id="site-logo" alt="站点LOGO"/></a>
            <div class="span4 pull-right">
            {% if user.is_authenticated %}
                <div class="media text-left">
                    <a href="{{ user.get_show_url }}"><img src="{{ user.get_avatar_url }}" alt="用户头像" class="media-object img-rounded"
                         style="float: left;max-width: 60px; max-height: 60px;"/></a>
                    <div class="media-body">
                        <span>&nbsp;<a href="{{ user.get_show_url }}"><i class="icon-user"></i>&nbsp;{{ user.username }}</a></span><br/>
                        <span>&nbsp;<a href="{% url 'profile' %}"><i class="icon-cog"></i>&nbsp;我的信息</a></span>
                        {% if user.is_staff %}
                        <span>&nbsp;<a href="{% url 'admin-index' %}" target="_blank"><i class="icon-wrench"></i>&nbsp;网站后台</a></span>
                        {% endif %}<br/>
                        <span>&nbsp;<a href="{% url 'create-donate' %}"><i class="icon-thumbs-up"></i>&nbsp;捐赠</a></span>
                        <span>&nbsp;<a href="{% url 'logout' %}"><i class="icon-off"></i>&nbsp;注销</a></span>
                    </div>
                </div>
            {% else %}
                <form class="form-inline" action="{% url 'login' %}" method="POST" id="nav-login">{% csrf_token %}
                    <br/>
                  <input name="username" type="text" class="input-mini" placeholder="用户名">
                  <input name="password" type="password" class="input-mini" placeholder="密码">
                  <button type="submit" class="btn btn-success btn-mini">登录</button>
                  <a href="{% url 'register' %}" class="btn btn-mini">注册</a>
                  <a href="{% url 'create-donate' %}" class="btn btn-mini btn-info">捐赠</a>
                </form>
            {% endif %}
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="{% url 'index' %}">首页</a></li>
                    {% for sort in sort_list %}
                    <li {% if sort.get_children %}class='dropdown'{% endif %} >
                        <a {% if sort.get_children %}
                            class="dropdown-toggle" data-toggle="dropdown" href="#"
                        {% else %}href="{% url 'index-sorts-news' sort.id %}"{% endif %}>{{ sort.name }}</a>
                        {% if sort.get_children %}
                            <ul class="dropdown-menu">
                                {% for child in sort.get_children %}
                                    <li><a href="{% url 'index-sorts-news' child.id %}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li><a href="http://pahchina.org/">社区</a></li>
                </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
      
    {% include 'includes/messages.html' %}

    {% block content %}

    {% endblock %}

    </div> <!-- /container -->

    <footer class="footer">
        <div class="container">
        <p>中国PAH关爱联盟 &copy; 2014</p>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/site.js"></script>

    {% block foot %}
    {% endblock %}
    {% if not user.is_authenticated %}
        <script>
            var pwd = location.href.split('/').slice(3).join('/');
            if (pwd != 'accounts/login/'){
                document.getElementById('nav-login').action += "?next=/" + pwd;
            }
        </script>
    {% endif %}
  </body>
</html>
