<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}-PAH后台管理</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

    </style>
    {% block head %}

    {% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">
  </head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">PAH后台管理</a>
          <div class="nav-collapse collapse">
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ user.get_identity }}&nbsp;{{ user.username }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                  <li><a href="{% url 'logout' %}">注销</a></li>
              </ul>
            </div>
            <ul class="nav">
              {% block nav %}
              {% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                       <li><a href="{% url 'index' %}">网站首页</a></li>
                        {% if user.is_superuser %}
                        <li class="nav-header">站点管理</li>
                        <li><a href="{% url 'admin-create' 'website' %}">添加站点</a></li>
                        <li><a href="{% url 'admin-list' 'website' %}">管理站点</a></li>
                        <li class="nav-header">用户管理</li>
{#                        <li><a href="#">用户组管理</a></li>#}
                        <li><a href="{% url 'admin-list' 'user' %}">管理用户</a></li>
                        <li><a href="{% url 'admin-list' 'patient' %}">管理患者</a></li>
                        <li><a href="{% url 'admin-list' 'doctor' %}">管理医生</a></li>
                        <li><a href="{% url 'admin-list' 'hospital' %}">管理医院</a></li>
                        <li><a href="{% url 'admin-list-volunteer' %}">志愿者管理</a></li>
                        <li class="nav-header">医疗管理</li>
                        <li><a href="{% url 'admin-list' 'hospital' %}">管理医院</a></li>
                        <li><a href="{% url 'admin-list' 'drug' %}">管理药物</a></li>
                        <li><a href="{% url 'admin-list' 'dosage' %}">患者用药记录</a></li>
                        <li class="nav-header">活动管理</li>
                        <li><a href="{% url 'admin-list-activity' %}">活动管理</a></li>
                        <li class="nav-header">新闻管理</li>
                        <li><a href="{% url 'admin-list-news'%}">新闻管理</a></li>
                        <li><a href="{% url 'admin-list-sorts' %}">分类管理</a></li>
                        <li class="nav-header">捐赠管理</li>
                        <li><a href="{% url 'admin-list-donate' %}">捐赠管理</a></li>
                        <li><a href="{% url 'admin-list-itemized' %}">捐赠使用管理</a></li>
                        <li class="nav-header">高级功能</li>
                        <li><a href="{% url 'admin-list' 'region' %}">管理省市</a></li>
                        <li><a href="{% url 'admin-create' 'permission' %}">添加权限</a></li>
                        {% elif user.is_staff %}
                        <li class="nav-header">站点管理</li>
                        <li><a href="{% url 'staff-detail-mysite' %}">我的站点</a></li>
                        <li><a href="{% url 'staff-update-mysite' %}">管理我的站点</a></li>
                        {% endif %} {# is superuser #}

                        <li class="nav-header">个人信息</li>
                        <li><a href="{% url 'update-password' %}">修改密码</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% include 'includes/messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    {% block foot %}

    {% endblock %}

  </body>
</html>